{{ define "main" }}
{{ .Content }}
{{ if gt (len ( where .Site.RegularPages "Section" "in" (slice "posts" "notes") )) 0 }}
<h1>{{ i18n "latest_posts" }}</h1>
<section>
  {{ range (first .Site.Params.items (where .Site.RegularPages "Section" "in" (slice "posts" "notes") ).ByDate.Reverse) }}
    <p>
      <time class="g time" datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat "2006-01-02" .Date }}</time>&nbsp;
      <span class="section">[{{ .Section }}]</span>&nbsp;
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    <p>
  {{ end }}
</section>
{{ end }}
{{ end }}
